<div class="chart-builder-panel">
      <div class="chart-builder-fields">
            <div class="chart-type-selector-container">
                  <mat-form-field>
                        <mat-select placeholder="Chart Type" [(ngModel)]="selectedChartType" (change)="onChartTypeChange();">
                              <mat-option *ngFor="let type of chartTypes" [value]="type.value">
                                    {{ type.display }}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div class="date-type-selector-container">
                  <mat-form-field>
                        <mat-select placeholder="Date Type" [(ngModel)]="selectedDateType">
                              <mat-option *ngFor="let type of dateTypes" [value]="type.value">
                                    {{ type.display }}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div *ngIf="!showYearSelector" class="start-date-picker-container">
                  <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div *ngIf="!showYearSelector" class="end-date-picker-container">
                  <mat-form-field>
                        <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div *ngIf="showYearSelector" class="year-selector-container">
                  <mat-form-field>
                        <input matInput type="number" placeholder="Year" [(ngModel)]="selectedYear">
                  </mat-form-field>
            </div>
      </div>
      <div class="button-bar-container">
            <div class="button-row">
                  <button mat-raised-button title="Custom Fields" class="btn-custom-field" (click)="openCustomFields();" ><i class="fa fa-tasks fa-lg" aria-hidden="true"></i> Custom</button>
                  <button mat-raised-button title="Clear Chart" color="primary" (click)="clearChart();" ><i class="fa fa-ban fa-lg" aria-hidden="true"></i> Clear</button>
                  <button mat-raised-button title="Build Chart" color="accent" (click)="buildChart();" ><i class="fa fa-cubes fa-lg" aria-hidden="true"></i> Build</button>
            </div>
      </div>
      
</div>


