.chart-builder-panel {
    width: inherit;
    display: flex;
    flex-direction: column;
}

.chart-builder-fields {
    display: flex;
    flex-direction: column;
}

.chart-builder-header {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
}

.chart-type-selector-container {
    margin-left: 5px;
    width: 90%;
}

.custom-field-container {
    margin-left: 5px;
    width: 90%;
}

.date-type-selector-container {
    margin-left: 5px;
    width: 90%;
}

.start-date-picker-container {
    margin-left: 5px;
    width: 90%;
}

.end-date-picker-container {
    margin-left: 5px;
    width: 90%;
}

.year-selector-container {
    margin-left: 5px;
    width: 90%;
}

.button-bar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

mat-form-field {
    width: 100%;
    margin: 10px;
}

.button-row>button {
    margin: 5px;
}

.btn-custom-field {
    background-color:rgba(63, 81, 181, 0.3);
    color: #000;
}

