<!-- Empty State -->
<div *ngIf="isEmpty" class="chart-empty-state">
        <i class="fa fa-list fa-5x" aria-hidden="true"></i>
</div>

<div *ngIf="!isEmpty">
    <div class="cards-container" >
        <mat-card *ngFor="let p of projects" class="project-card" (click)="getProjectTaskInfo(p);">
            <mat-card-title>
                <label class="{{p.color}} clickable">{{p.name}}</label>
            </mat-card-title>
            <mat-card-content>
                <label class="clickable" >Total: {{projectIdTotalKey[p.id]}} tasks</label>
                <br />
                <label class="clickable">Created: {{p.created_at | date: 'MM/dd/yyyy'}}</label>
            </mat-card-content>
        </mat-card>
    </div>
</div>