<div class="page-container" > 
    <mat-toolbar class="toolbar-container"  color="primary">
        <mat-toolbar-row class="toolbar">
            <button mat-button (click)="drawer.toggle()">
                <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i> <span>Dashing Boards</span>
            </button>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button (click)="openSettings();">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="main-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="{{!isLoading}}">
            <chart-builder></chart-builder>
        </mat-drawer>

        <div *ngIf="!isLoading" class="chart-viewer-container" >
            <mat-tab-group>
                <mat-tab label="Chart">
                    <ng-template mat-tab-label>
                        <label class="tab-label" ><i class="fa fa-area-chart fa-lg" aria-hidden="true"></i> Chart</label> 
                    </ng-template>
                    <chart-viewer></chart-viewer>
                </mat-tab>
                <mat-tab label="Summary">
                    <ng-template mat-tab-label>
                        <label class="tab-label" ><i class="fa fa-list fa-lg" aria-hidden="true"></i> Summary</label>
                    </ng-template>
                    <chart-summary></chart-summary>
                </mat-tab>
                <mat-tab label="Print">
                    <ng-template mat-tab-label>
                        <label class="tab-label" ><i class="fa fa-print fa-lg" aria-hidden="true"></i> Print</label>
                    </ng-template>
                    <chart-print></chart-print>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div *ngIf="isLoading" class="chart-loading-state">
            <mat-spinner></mat-spinner>
            <label class="loading-item-label" >{{loadingItem}}</label>
        </div>
    </mat-drawer-container>
</div>